<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
</div>
<div>
  <p>Nome : Thamyres de Souza Silva</p>
  <p>Data de nascimento: 28/10/1995</p>
  <p>Sexo: Indefinido</p>
  <p>E-mail: thamyresss@hotmail.com</p>
  <p>Profissão: </p>
  <p>Interessses: </p>
  <p>Estado civil: solteira</p>
  <p>Biografia: Nada a declarar</p>
  <p>Cidade: Palmas</p>
  <p>Estado: Tocantins</p>
  
</div>

<router-outlet></router-outlet>
<app-perfil></app-perfil>
